{%- doc -%}
  Custom Button with Arrow
  @param {string} link - The URL
  @param {object} [block] - The block settings
{%- enddoc -%}

{% assign block_settings = block.settings %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    custom-btn
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block_settings %}"
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  <span>{{ block_settings.label }}</span>

  {%- if block_settings.style_class == "primary" -%}
    <span class="arrow" 
          style="background-image: url('{{ 'icon-arrow-right.svg' | asset_url }}')"></span>
  {%- else -%}
    <span class="arrow" 
          style="background-image: url('{{ 'icon-arrow-right-white.svg' | asset_url }}')"></span>
  {%- endif -%}
</a>

{% stylesheet %}
  .custom-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20.48px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-btn .arrow {
    display: inline-block;
    width: 25px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    transition: transform 0.3s ease, background-image 0.3s ease;
  }

  .custom-btn:hover .arrow {
    transform: translateX(4px);
  }

  .custom-btn.primary {
    background-color: #FFF544;
    color: #000000;
  }
  .custom-btn.primary:hover {
    background-color: #000000;
    color: #ffffff;
  }

  .custom-btn.secondary {
    background-color: #000000;
    color: #ffffff;
  }
  .custom-btn.secondary:hover {
    background-color: #FFF544;
    color: #000000;
  }
{% endstylesheet %}
